body {
  background-color: #99ffcc;
}
.logo {
  margin-right: 500px;
}
#logo {
  width: 200px;
  margin-right: 500px;
  margin-top: 270px;
}
.login {
  width: 300px;
  padding: 20px;
  margin-top: 150px;
  margin-left: 900px;
  background-color: #fff;
}
input {
  padding: 10px;
  width: 280px;
  font-size: 18px;
}

#submit {
  margin-top: 20px;
  width: 290px;
  padding: 10px;
  font-size: 25px;
  background: blueviolet;
  color: white;
}

#new {
  margin-top: 40px;
  background-color: #ffb366;
  width: 200px;
  font-size: 18px;
  color: white;
  padding: 10px;
}
